:root {
    --main-color: #0fcd00;
}


body {
    background: #000000;
    margin: 0;
    width: 100%;
    color: var(--main-color);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.progress-bar {
    width: 300px;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 20px;
}

.progress-bar-fill {
    height: 100%;
    background: var(--main-color);
    width: 0%;
    transition: width 0.1s ease;
}

.progress-percentage {
    margin-top: 10px;
    font-size: 18px;
    color: var(--main-color);
}

.progress-bar_bottom {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}

.hidden {
    display: none;
}

.main-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (max-width: 1240px) {
        display: none;        
    }
}

.frame-wrapper {
    position: relative;
}

.frame {
    white-space: pre;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
    margin: 0;
}

button,
.link {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background: #000000;
    border-radius: 10px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all 0.3s ease-in;
    text-decoration: none;
    text-transform: uppercase;
}

button:hover,
.link:hover {
    background: var(--main-color);
    color: #000000;
}

.connect-btn:hover  {
    transform: scale(1.2);
}

.connect-btn {
    display: block;
    width: fit-content;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background: var(--main-color);
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

/* Фон модального окна */
.modal {
    display: none; /* Скрываем окно по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    justify-content: center;
    backdrop-filter: blur(5px);
    align-items: center;
}

/* Контент модального окна */
.modal-content {
    position: relative;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    min-height: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
    border: 1px solid var(--main-color);
}

.modalPerson .modal-content {
    width: 500px;
    min-height: 200px;
    line-height: 1.2;
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Кнопка закрытия */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    cursor: pointer;
}

/* Стили для текста */
#modalText {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    width: 1205px;
}


.cooker {
    position: absolute;
    font-size: 12px;
    top: 46px;
    right: 215px;
    background: #000000;
    animation: cooker 35.3s linear infinite;
    cursor: pointer;
}

.cooker_dot {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--main-color);
    cursor: pointer;
}

@keyframes cooker {
    15% {
        top: 46px;
        right: 50px;
    }
    30% {
        top: 200px;
        right: 50px;
    }    
    45% {
        top: 200px;
        right: 275px;
    }
    60% {
        top: 120px;
        right: 275px;
    }
    75% {
        top: 120px;
        right: 215px;
    }
    100% {
        top: 46px;
        right: 215px;
    }
}

.waiter {
    position: absolute;
    font-size: 12px;
    top: 46px;
    left: 215px;
    background: #000000;
    animation: waiter 35.3s linear infinite;
    cursor: pointer;

}

.waiter_dot {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--main-color);
    cursor: pointer;

}

@keyframes waiter {
    25% {
        top: 46px;
        left: 650px;
    }
    50% {
        top: 160px;
        left: 650px;        
    }    
    75% {
        top: 160px;
        left: 215px;         
    }
    100% {
        top: 46px;
        left: 215px;            
    }
}

.bartender {
    position: absolute;
    font-size: 12px;
    bottom: 60px;
    left: 10px;
    background: #000000;
    animation: bartender 20s linear infinite;
    cursor: pointer;

}

.bartender_dot {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--main-color);
    cursor: pointer;

}

@keyframes bartender {
    0% {
        left: 10px;
    }
    50% {
        left: 240px;
    }
    100% {
        left: 10px;
    }

    
}

.error {
    display: none;
    text-align: center;

    @media (max-width: 1240px) {
        display: block;        
    }
}
